.sidebar-area{
    display: flex;
}
main{
    width: 100%;
    padding: 20px;
}


.sidebar{
    background: #f0f2f5;
    color: #000;
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
}
.userlist-text{
    text-align: center;
    background-color: rgba(0, 255, 255, 0.144);
}